Repository awslabs/osml-tile-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-install, jest, eslint, prettier

npm-install:
  name: Install npm dependencies
  entry: bash -c 'cd cdk && npm ci'
  language: system
  pass_filenames: false

jest:
  name: Jest Tests
  entry: bash -c 'cd cdk && npm test'
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: bash -c 'cd cdk && npx eslint --fix --max-warnings 0 "**/*.{js,ts}"'
  language: system

prettier:
  name: Prettier
  entry: bash -c 'cd cdk && npx prettier --write .'
  language: system

docs: update license Apache-2.0
  .pre-commit-config.yaml
  LICENSE
  NOTICE
  README.md
  setup.cfg
  src/aws/osml/tile_server/main.py
Due: none

chore: update cdk deps
  cdk/cdk.json
  cdk/package-lock.json
  cdk/package.json
Due: npm-install, prettier

fix: update package-lock.json
  cdk/package-lock.json
Due: npm-install, prettier

fix: updating container build
  docker/Dockerfile.tile_server
  setup.cfg
Due: none

feat: add CFN export for ALB DNS name
  .pre-commit-config.yaml
  cdk/.prettierrc
  cdk/bin/app.ts
  cdk/bin/deployment/load-deployment.ts
  cdk/eslint.config.mjs
  cdk/lib/constructs/test/imagery.ts
  cdk/lib/constructs/test/lambda-roles.ts
  cdk/lib/constructs/test/test.ts
  cdk/lib/constructs/tile-server/database.ts
  cdk/lib/constructs/tile-server/dataplane.ts
  cdk/lib/constructs/tile-server/ecs-roles.ts
  cdk/lib/constructs/tile-server/ecs-service.ts
  cdk/lib/constructs/tile-server/lambda_role.ts
  cdk/lib/constructs/tile-server/messaging.ts
  cdk/lib/constructs/tile-server/network.ts
  cdk/lib/constructs/tile-server/storage.ts
  cdk/lib/constructs/types.ts
  cdk/lib/network-stack.ts
  cdk/lib/test-stack.ts
  cdk/lib/tile-server-stack.ts
  cdk/test/constructs/tile-server/database.test.ts
  cdk/test/constructs/tile-server/dataplane.test.ts
  cdk/test/constructs/tile-server/ecs-roles.test.ts
  cdk/test/constructs/tile-server/ecs-service.test.ts
  cdk/test/constructs/tile-server/messaging.test.ts
  cdk/test/constructs/tile-server/network.test.ts
  cdk/test/constructs/tile-server/storage.test.ts
  cdk/test/load-deployment.test.ts
  cdk/test/test-account.ts
  cdk/test/test-utils.ts
Due: npm-install, jest, eslint, prettier

ci: Implement slack notification for nightly build failures
  .github/workflows/build-test-destroy.yml
  .github/workflows/slack-norify-pr.yml
  .github/workflows/slack-notify-nightly-failure.yml
Due: none

fix: resolve redirect issue and add middleware to support proxy headers
  src/aws/osml/tile_server/main.py
  src/aws/osml/tile_server/viewpoint/router.py
  test/aws/osml/tile_server/test_main.py
Due: none

chore: update version of autopep8 pre-commit hook to fix lib2to3 error
  .pre-commit-config.yaml
Due: none

feat: caching of map and image tiles
  src/aws/osml/tile_server/app_config.py
  src/aws/osml/tile_server/services/__init__.py
  src/aws/osml/tile_server/services/tile_provider.py
  src/aws/osml/tile_server/viewpoint/viewpoint_id/image/tiles.py
  src/aws/osml/tile_server/viewpoint/viewpoint_id/map/tileset/tile.py
  test/aws/osml/tile_server/services/test_queue.py
  test/aws/osml/tile_server/services/test_tile_provider.py
Due: none

build: pin sphinx openapi version to fix docs build issue
  tox.ini
Due: none

chore: updating dependancies
  cdk/package-lock.json
  cdk/package.json
Due: npm-install, prettier

refactor: remove integ test destroy dependency
  .github/workflows/destroy.yml
  cdk/bin/app.ts
  cdk/lib/constructs/test/lambda-roles.ts
  cdk/lib/constructs/test/test.ts
  cdk/lib/test-stack.ts
  cdk/lib/tile-server-stack.ts
  cdk/package-lock.json
  cdk/package.json
  test/integration/test_config.py
Due: npm-install, jest, eslint, prettier

refactor: remove integ test destroy dependency
  .github/workflows/destroy.yml
  cdk/bin/app.ts
  cdk/lib/constructs/test/lambda-roles.ts
  cdk/lib/constructs/test/test.ts
  cdk/lib/test-stack.ts
  cdk/lib/tile-server-stack.ts
  cdk/package-lock.json
  cdk/package.json
  scripts/destroy.sh
  test/integration/test_config.py
Due: npm-install, jest, eslint, prettier

chore: security updates
  cdk/package-lock.json
Due: npm-install, prettier

Path conditions:
  npm-install: any of: ^cdk/.*\.(ts|tsx|js|jsx|json)$
  jest: any of: ^cdk/.*\.(ts|tsx)$
  eslint: any of: ^cdk/.*\.(ts|tsx|js)$
  prettier: any of: ^cdk/.*\.(ts|tsx|js|jsx|json|yml|yaml|md)$
